@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
/* similer styles */
.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.section-description {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 24px 0px;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0px auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}
nav > button {
  padding: 7px 10px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
/* header */
/* banner section */
header > section {
  height: 652px;
  background-image: url("assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 221px;
  text-align: center;
}

header > section h1 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 25px;
}
header > section p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
}
header > section button {
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
  color: #ffffff;
  background-color: #0d1321;
  padding: 18px 25px;
  border-radius: 5px;
  cursor: pointer;
}
/* main section */
main {
  max-width: 1140px;
  margin: 0px auto;
}

main > section {
  margin: 90px 0px;
  padding: 80px 97px;
}
.background-gradient {
  background-image: linear-gradient(to right, #a8c1ff35, #795df326);
}
.background-gradient-right {
  background-image: linear-gradient(to right, #795df326, #feffff69);
}
.background-gradient-left {
  background-image: linear-gradient(to right, #feffff35, #795df326);
}
.development-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 32px;
  padding: 48px;
}
.development-item {
  max-width: 477px;
}
.development-item > h3 {
  font-size: 24px;
  font-weight: 700;
}
.development-item > p {
  font-size: 16px;
  font-weight: 400;
  padding: 16px 0px;
}
.development-item > button {
  background-color: rgba(255, 255, 255, 0.311);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 20px;
}
